.cbox{
    border:3px solid;
}
.bcol{
	border:3px solid red;
 }
 .ccol{
	border:3px solid green;
 }
 .dcol{
	border:3px solid gray;
 }
 .bcol{
	border:3px solid red;
 }
 .ecol{
	border:3px solid pink;
 }